<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Анкета заполнена</title>    
    <meta charset="utf-8">
  </head>
<body>
<br>
<br>
<br>
<br>
<br>
<h1 align="center">Спасибо, что поучаствовали в опросе!</h1>
<h3 align="center"><a href="/">Теперь можете дать заполнить форму другу</h3>
<h3 align="center"><a href="/stats"> Поглядеть на статистику</h3>
<h3 align="center"><a href="/search">А также поискать кого-то из своего города</a></h3>
<h3 align="center"><a href="/json">Или посмотреть на json-файл</a></h3>
<h4 align="center">(oн получился не очень красивым, но зато в json.txt все очень красиво)</h4>
</body>
</html>