<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Форма</title>    
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Flask Project 2</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/revolutionary">Дореволюционный Sports.ru</a></li>
            <li><a href="/test">Тест</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

    <div class="container">
    
    <div class="jumbotron">
    <br>
  <h1>Кстати!</h1>
  <p class="lead">А в Скопье сейчас аж {{ temperature }} °C</p>
  <p><a class="btn btn-primary btn-lg" href="https://yandex.ru/pogoda/skopje" role="button">Подробнее...</a></p>
</div>
      <div class="starter-template">
        <div class="page-header">
  <h1>Найти слово <small>в дореволюционной орфографии</small></h1>
</div>
        <form action="/result">
  <div class="form-group">
    <input type="text" name="word" class="form-control" placeholder="Введите слово со строчной буквы (если это не имя собственное)...">
  </div>
  <button type="submit" class="btn btn-default">Поиск</button>
</form>
      </div>

    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>